on: [push]
name: AzureARMSP

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      ResourceGroupName: test1sp-rg
      ResourceGroupLocation: "eastus"
    steps:
    - uses: actions/checkout@master
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS}}
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
            az account set --subscription "63c2f8f9-a3f8-4cbf-aaeb-341fc75caaa3"
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
            
          
            scope="/subscriptions/$Subscriptions/resourceGroups/${{env.ResourceGroupName}}"
          
            az ad app create --display-name test1sp --homepage http://test1sp --identifier-uris test1sp
            
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash               
            Subscriptions=63c2f8f9-a3f8-4cbf-aaeb-341fc75caaa3
            az ad sp create-for-rbac --name $appName --role Contributor --scopes $scope --sdk-auth
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash   
     
            #Keyvault Paremeters
            KeyVaultName="tanmay29"
            RGName="test1sp-rg"
            
            Location="EastUS"
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
    
            az keyvault create --name $KeyVaultName --resource-group $RGName --location $Location --enable-rbac-authorization true
            az role assignment create --role "Key Vault Secrets Officer" --assignee "1f4177ae-31c6-4a0b-8751-de33273fd420" --scope "/subscriptions/$Subscriptions/resourcegroups/$RGName/providers/Microsoft.KeyVault/vaults/$KeyVaultName"
            az role assignment create --role "Key Vault Administrator" --assignee "1f4177ae-31c6-4a0b-8751-de33273fd420" --scope "/subscriptions/$Subscriptions/resourcegroups/$RGName/providers/Microsoft.KeyVault/vaults/$KeyVaultName"

            
            az keyvault update --name $KeyVaultName --resource-group $RGName --enabled-for-deployment "true"
            az keyvault update --name $KeyVaultName --resource-group $RGName --enabled-for-template-deployment "true"
            
            appName="sp-static"
            SP=$(az ad app list --display-name $appName --query '[].appId' -o tsv)
            az role assignment create --role "Key Vault Secrets Officer" --assignee $SP --scope "/subscriptions/$Subscriptions/resourcegroups/$RGName/providers/Microsoft.KeyVault/vaults/$KeyVaultName"
            
            #az keyvault set-policy -n $KeyVaultName --key-permissions get list --spn $appName
        
