on: [push]
name: databrideployment

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      ResourceGroupName: hub_and_spoke-rg   
      ResourceGroupLocation: "eastus"
      appName: "SP_ops_mng"
    steps:
    - uses: actions/checkout@master
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
          if $(az group exists --name ${{ env.ResourceGroupName }}) ; then
            echo "Azure resource group already exists, skipping creation..."
          else
            az group create --name ${{ env.ResourceGroupName }} --location ${{ env.ResourceGroupLocation }}
            echo "Azure resource group created"
          fi
          if $(az ad sp exists --name ${{ env.appName }}) ; then
            echo "SP already exists, skipping creation..."
          else
            az ad app create --display-name $appName --homepage http://localhost/  --identifier-uris localhost
            scope=$(az group list --query "[?contains(name, '$resourceGroupName')].id" -o tsv)
            az ad sp create-for-rbac --name $appName --role Contributor --scopes $scope --sdk-auth
            echo "Azure resource group created"
          fi
