on: [push]
name: AzureARMSP

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      ResourceGroupName: test1sp-rg
      ResourceGroupLocation: "eastus"
    steps:
    - uses: actions/checkout@master
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS}}
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
          
            appName="sp-static"
            scope="/subscriptions/103ab456-30f8-4509-a52a-e51f91841961/resourceGroups/$ResourceGroupName"
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash 
 
            az account set --subscription 103ab456-30f8-4509-a52a-e51f91841961
            az ad app create --display-name $appName --homepage http://sp-static/  --identifier-uris sp-static
            az ad sp create-for-rbac --name $appName --role Contributor --scopes $scope --sdk-auth
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash            
            #Keyvault Paremeters
            KeyVaultName="databrickkeyvaultnad7124"
            RGName="test1sp-rg"
            Subscriptions="103ab456-30f8-4509-a52a-e51f91841961"
            Location="EastUS"
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash            
            az keyvault create --name $KeyVaultName --resource-group $RGName --location $Location --enable-rbac-authorization true
            az role assignment create --role "Key Vault Secrets Officer" --assignee "29052559-66e6-457c-b06e-21834f985045" --scope "/subscriptions/$Subscriptions/resourcegroups/$RGName/providers/Microsoft.KeyVault/vaults/$KeyVaultName"
            az role assignment create --role "Key Vault Administrator" --assignee "29052559-66e6-457c-b06e-21834f985045" --scope "/subscriptions/$Subscriptions/resourcegroups/$RGName/providers/Microsoft.KeyVault/vaults/$KeyVaultName"
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
            
            az keyvault update --name $KeyVaultName --resource-group $RGName --enabled-for-deployment "true"
            az keyvault update --name $KeyVaultName --resource-group $RGName --enabled-for-template-deployment "true"
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash            
            appName="sp-static"
            SP=$(az ad app list --display-name $appName --query '[].appId' -o tsv)
            az role assignment create --role "Key Vault Secrets Officer" --assignee $SP --scope "/subscriptions/$Subscriptions/resourcegroups/$RGName/providers/Microsoft.KeyVault/vaults/$KeyVaultName"
            
            #az keyvault set-policy -n $KeyVaultName --key-permissions get list --spn $appName
        
            
          fi
